<!-- <div class="full-container">
  <div class="mega-menu-container">
    <nav class="mega-menu">
      <ul class="menu">
        <li
          *ngFor="let item of filteredMenu"
          class="menu-item"
          (mouseenter)="item.isOpen = true"
          (mouseleave)="item.isOpen = false"
        >
          <a [routerLink]="item.url">{{ item.label }}</a>
          <ul *ngIf="item.children && item.isOpen" class="submenu">
            <li
              *ngFor="let child of item.children"
              class="submenu-item"
              (mouseenter)="child.isOpen = true"
              (mouseleave)="child.isOpen = false"
            >
              <a [routerLink]="child.url">{{ child.label }}</a>
              <ul *ngIf="child.children && child.isOpen" class="submenu">
                <li
                  *ngFor="let grandChild of child.children"
                  class="submenu-item"
                  (mouseenter)="grandChild.isOpen = true"
                  (mouseleave)="grandChild.isOpen = false"
                >
                  <a [routerLink]="grandChild.url">{{ grandChild.label }}</a>
                  <ul
                    *ngIf="grandChild.children && grandChild.isOpen"
                    class="submenu"
                  >
                    <li
                      *ngFor="let greatGrandChild of grandChild.children"
                      class="submenu-item"
                    >
                      <a [routerLink]="greatGrandChild.url">
                        {{ greatGrandChild.label }}
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      
    </nav>
  </div> -->

  <div class="full-container">
    <div class="mega-menu-container">
      <nav class="mega-menu">
        <ul class="menu">
          <li
            *ngFor="let item of filteredMenu"
            class="menu-item"
            (mouseenter)="item.isOpen = true"
            (mouseleave)="item.isOpen = false"
          >
            <a [routerLink]="item.url">{{ item.label }}</a>
            <!-- Recursive menu rendering -->
            <ul *ngIf="item.children && item.isOpen" class="submenu">
              <ng-container *ngTemplateOutlet="recursiveMenu; context: { $implicit: item.children }"></ng-container>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  
    <!-- Recursive Template -->
    <ng-template #recursiveMenu let-children>
      <li
        *ngFor="let child of children"
        class="submenu-item"
        (mouseenter)="child.isOpen = true"
        (mouseleave)="child.isOpen = false"
      >
        <a [routerLink]="child.url">{{ child.label }}</a>
        <ul *ngIf="child.children && child.isOpen" class="submenu">
          <ng-container *ngTemplateOutlet="recursiveMenu; context: { $implicit: child.children }"></ng-container>
        </ul>
      </li>
    </ng-template>

  

  <!-- Configure Navigation -->
  <div class="config-container">
    <section class="navigation-config">
      <div class="config-wrapper">
        <h2>Configure Navigation</h2>
        <p>The mega menu should be configured here.</p>
        <h3>Add Navigation Entries</h3>
        <p>Here you can add a new navigation entry.</p>
        <div class="navigation-form">
          <label for="parentLevel">Select Parent Level:</label>
          <select id="parentLevel" [(ngModel)]="selectedParentLevel">
            <option *ngFor="let level of allMenuLevels" [value]="level">
              {{ level }}
            </option>
          </select>
          <div *ngIf="selectedParentLevel">
            <label for="levelName">Enter Level Name:</label>
            <input
              id="levelName"
              type="text"
              [(ngModel)]="newLevelName"
              placeholder="Enter new level name"
            />
            <button (click)="addNewLevel()">Add</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
